.app{
  margin:10px;
  display:flex;
  background-color: rgb(255, 249, 249);
  font-family: "Times New Roman", Times, serif;
  width:90%;
  margin:0 0 0 5%;
}
.topbar{
  padding:10px;
}
.background-img{
  width:70vw;
  border-radius: 5px;
}
.kitchenPhoto{
  width:60%;
}
.blackholePhoto{
  width:70%;
}

.slackrPhoto{
  width:60%;
}
.projects{
  background-color: rgb(240, 235, 235);
  padding:10px;
  width:44%;
  justify-content: start;
  margin-right: 4px;
  margin-bottom: 20px;
  
  box-shadow: 5px 10px 8px 5px #cecbcb;

}
.button{
  text-decoration: none;
  margin:10px;
  padding:5px;
  font-size: 12px;
  border:2px solid rgb(83, 83, 206);
  border-radius: 5px;
}
.actions{
text-decoration: none; 
}
.sidebar{
 /* border:1px solid red; */
 background-color: #222222;
 width: 50%;
}
.mainSection{
  padding:10px;
  /* border:1px solid red; */
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.title{
  width: 10%;
  border-bottom:2px solid rgb(123, 172, 228);
  border-radius: 1px;
}
.titleBox{
  width:100%;
}
.header{
  display: flex;
  justify-content: flex-end;
}
.icons{
  margin:10px 5px 10px 5px;
  width:20px;
}
.bottom-section{
  border-top: 4px solid rgb(123, 172, 228);
  padding-top: 10px;
  border-radius: 0.5px;
}
.skills{
  padding: 10px;
}
.email{
  font-size: 13px;
}
/* Blue line between main */
.mainBody{
  width: 80%
}
.side{
  margin:40px 0 40px 0;
  color: #919191;
  padding-left: 10px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.articlePhoto{
  width:78%;
}
.mainParagraph{
  color:grey;
}
.sideParagraph{
  font-size: 15px;
  color: #919191;
}
.smaller{
  width:7%;
}
.skillOpposite{
  background-color: rgb(240, 235, 235);
}
.skill-list{
  padding:5px 0 5px 10px;
}
.bigger{
  font-size: 10px;
}
.articleLink:hover{
  background-color:red;
}